.body {
    padding: 30px;
    flex: 0.85;
    width: 100%;
    height: 100%;
    // background: linear-gradient(to right, rgb(0, 0, 100), #389fff);
    margin-bottom: 50px;
    color: white;
}

.body_homepage {
    align-items: center;
    justify-content: center;
    display: table-row;
    flex: 0.8;
}

.body_homepage > h1 {
    font-size: 35px;
    margin-bottom: 20px;
    font: Open Sans Light;
    align-items: center;
    justify-content: center;
}

.body_playlists {
    align-items: center;
    justify-content: center;
    display: inline-table;
}

.body_playlist_box {
    align-items: center;
    justify-content: center;
    display: inline-table;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
}

.body_playlist_box:hover {
    background: #290186;
}

.body_playlist_box > h4 {
    align-items: center;
    justify-content: center;
}

.body_playlist_box > img {
    max-height: 200px;
    max-width: 200px;
}

.body::-webkit-scrollbar {
    display: none;
}

.body_info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.body_infoText {
    flex: 1;
}

.body_info > img {
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body_songs {
    margin: 20px -30px;
}

.body_shuffle {
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body_shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

.body_icons {
    display: flex;
    align-items: center;
}

.body_icons > .MuiSvgIcon {
    margin-right: 20px;
}

.body_infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.body_infoText > p {
    font-size: 14px;
}

.card {
    display: flex;
    flex: 0.2;
    align-items: center;
    max-height: 70px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(92, 6, 92);
    opacity: 0.8;
}

.card > img {
    display: flex;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.card > h1 {
    display: flex;
    flex: 0.3;
    text-align: left;
    font-size: 16px;
}


.card > p {
    display: flex;
    flex:0.3;
    font-size: 14px;
    margin-top: 3px;
    color: gray;
    align-items: right;
}

.body_playerLogo {
    height: 4.5vh;
    align-items: center;
    object-fit: contain;
    margin-right: 10px; 
}

.context_menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
}

#context-menu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.context_menu_item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    border-radius: 5px;
}

.context_menu_item:hover {
    background: #343434;
}