.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 65px;
    width: 100%;
    background: rgb(5, 0, 95);
    padding: 20px;
    border: 1px solid rgb(49, 15, 77);
    z-index: 3;
}

.footer_icon {
    min-width: 35px;
    min-height: 35px;
    padding: 7px;
}

.footer_green:hover,
.footer_icon:hover, 
.footer_playerLogo:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.footer_albumLogo {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
}

.footer_left {
    flex: 0.4;
    display:flex;
    align-items: center;
    color: white;
    max-width: 500px;
}

.footer_center {
    flex: 0.3;
    // padding: 0 100px;
    padding : 0 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 140px;
}

.footer_right {
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.footer_right * .MuiSlider-root {
    color: white;
    max-width: 220px;
}

.footer_shuffle {
    filter: invert(1);
    max-width: 39px;
    max-height: 28px;
}

.active {
    filter: invert(92%) sepia(22%) saturate(6653%) hue-rotate(149deg) brightness(89%) contrast(91%);
    color: #34c6da;
}

.footer_songInfo {
    font-size: 14px;
}

.vl {
    border-left:1px solid gray;
    height:60px;
    margin-right: 10px;
}

.footer_spotifyInfo {
    display: flex;
    width: 100%;
    margin-top: 12px;
}

.footer_playerLogo {
    margin-right: 20px;
}