.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header_left {
    flex: 0.5;
    min-width: 70px;
    background-color: white;
    color: gray;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header_left > input {
    caret-color: purple;
    border: none;
    width: 100%
}

.header_right {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header_right > h4 {
    margin-left: 10px;
}

.header_playerLogo {
    height: 5.5vh;
    align-items: center;
    object-fit: contain;
    margin-right: 10px; 
}

.header_playerLogoActive {
    height: 5.5vh;
    align-items: center;
    object-fit: contain;
    margin-right: 10px; 
    background: rgb(73, 103, 255);
    border-radius: 50px;
}

.header_yt {
    height: 7.5vh;
    align-items: center;
    object-fit: contain;
    margin-right: 10px; 
}

.header_ytActive {
    height: 7.5vh;
    align-items: center;
    object-fit: contain;
    margin-right: 10px;
    background-color: rgb(73, 103, 255);
    border-radius: 20%;
}

.header_sc {
    margin-left: 4px;
    margin-right: 10px;
}

.header_scActive {
    margin-left: 4px;
    margin-right: 10px;
    background-color: rgb(73, 103, 255);
    border-radius: 40%;
}


