.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px;
}

.header_left {
    flex: 0.5;
    min-width: 450px;
    max-width: 700px;
    max-height: 50px;
    min-height: 60px;
    // background: rgb(11, 39, 195);
    background: #001a44;
    color: gray;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.header_leftButtons {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin-left: 10px;
}

.header_left > input {
    font-size: 16px;
    border: none;
    height: 40px;
    width: 500px;
    outline: none;
    opacity: 0.5;
    background: transparent;
    color: white;
    font-weight: 600;
}

.header_right {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header_right > h4 {
    margin-left: 10px;
}

.header_playerLogo {
    height: 4.5vh;
    align-items: center;
    object-fit: contain;
    margin-right: 10px;
    margin-top: 8px;
    filter: invert(15%) sepia(34%) saturate(7029%) hue-rotate(220deg) brightness(92%) contrast(113%);
}

.header_playerLogoActive {
    height: 4.5vh;
    align-items: center;
    object-fit: contain;
    margin-right: 10px;
    margin-top: 8px;
    border-radius: 50px;
    color:  #ffffff;
    // filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(72deg) brightness(109%) contrast(109%); //white
    filter: invert(56%) sepia(68%) saturate(545%) hue-rotate(88deg) brightness(89%) contrast(88%);
}

.header_playerLogoDisabled {
    height: 4.5vh;
    align-items: center;
    object-fit: contain;
    margin-right: 10px;
    margin-top: 8px;
    filter: invert(11%) sepia(28%) saturate(5892%) hue-rotate(206deg) brightness(96%) contrast(106%);
    pointer-events: none;
    opacity: 0.5;
}

.header_yt {
    height: 5.5vh;
    align-items: center;
    object-fit: contain;
    margin-right: 10px; 
    margin-top: 2px;
    filter: invert(15%) sepia(34%) saturate(7029%) hue-rotate(220deg) brightness(92%) contrast(113%);
}

.header_yt:hover{
    filter: invert(21%) sepia(92%) saturate(6218%) hue-rotate(358deg) brightness(95%) contrast(122%);
}

.header_sc:hover{
    filter: invert(59%) sepia(31%) saturate(7489%) hue-rotate(359deg) brightness(102%) contrast(107%);
}

.header_playerLogo:hover {
    filter: invert(56%) sepia(68%) saturate(545%) hue-rotate(88deg) brightness(89%) contrast(88%);
}

.header_yt:hover, .header_sc:hover, .header_playerLogo:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.header_ytActive {
    height: 5.5vh;
    align-items: center;
    object-fit: contain;
    margin-right: 10px;
    filter: invert(26%) sepia(67%) saturate(5173%) hue-rotate(348deg) brightness(111%) contrast(98%);
    color: #fc2d2d;
    border-radius: 20%;
}

.header_sc {
    height: 6vh;
    margin-left: 4px;
    margin-right: 10px;
    filter: invert(15%) sepia(34%) saturate(7029%) hue-rotate(220deg) brightness(92%) contrast(113%);
}

.header_scActive {
    height: 6vh;
    margin-left: 4px;
    margin-right: 10px;
    filter: invert(59%) sepia(31%) saturate(7489%) hue-rotate(359deg) brightness(102%) contrast(107%);
    border-radius: 40%;
}


