.homePage {
    align-items: center;
    justify-content: center;
    display: table-row;
    flex: 0.8;
}

.homePage > h1 {
    font-size: 35px;
    margin-bottom: 20px;
    font: Open Sans Light;
    align-items: center;
    justify-content: center;
}

.homePage_playlists {
    align-items: center;
    justify-content: center;
    display: inline-table;
}

.homePage_playlist_box {
    align-items: center;
    justify-content: center;
    display: inline-table;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    border-radius: 10px;
    max-width: 200px;
    word-break: break-all;
}

.homePage_playlist_box:hover {
    background: #070019;
}

.homePage_playlist_box > h4 {
    align-items: center;
    justify-content: center;
}

.homePage_playlist_box > img {
    max-height: 200px;
    max-width: 200px;
}