.loading {
    display: grid;
    place-items: center;
    height: 500px;
    width: 320px;
    background-color: rgb(45, 25, 118);
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.loginTitle {
    font-size: 24px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.loginInfo {
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}

.loginLogo {
    max-height: 100px;
    max-width: 100px;
}

.loginTest {
    padding: 20px;
    border-radius: 99px;
    background: #8f1db9;
    font-weight: 800;
    color: white;
}

.loginBeatbytes {
    padding: 20px;
    border-radius: 99px;
    background: #0020ae;
    font-weight: 800;
    color: white;
    text-decoration: none,
}

.loginSpotify {
    padding: 20px;
    border-radius: 99px;
    background: #1db954;
    font-weight: 800;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.loginTest:hover, .loginBeatbytes:hover, .loginSpotify:hover {
    cursor: pointer;
}