.playlistPage {
    padding: 30px;
    flex: 0.8;
    height: 100vh;
    // background: linear-gradient(rgb(123, 119, 148), rgb(0, 0, 61));
    margin-bottom: 50px;
    color: white;
}

.blurTitle {
    opacity: .5;
}
.playlistPage::-webkit-scrollbar {
    display: none;
}

.playlistPage_info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.playlistPage_infoText {
    flex: 1;
}

.playlistPage_info > img {
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.playlistPage_songs {
    margin: 20px -30px;
}

.playlistPage_play {
    font-size: 80px !important;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.playlistPage_play:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

.playlistPage_shuffle {
    max-width: 60px;
    max-height: 40px;
    margin-right: 10px;
    filter: brightness(0) invert(1);
}

.playlistPage_shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

.playlistPage_icons {
    display: flex;
    align-items: center;
}

.playlistPage_icons > .MuiSvgIcon {
    margin-right: 20px;
}

.playlistPage_infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.playlistPage_infoText > p {
    font-size: 14px;
}