.sidebar {
    border: 1px solid black;
    height: 1000vh;
    flex: 0.2;
    color: white;
    background: linear-gradient(to right, #001843, rgb(0, 0, 0));
    min-width: 230px;
    min-height: 230vh;
    max-width: 275px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 500px;
}

.sidebar > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}

.sidebar_logo {
    height: 65px;
    padding: 10px;
    float: left;
    margin-left: 80px;
}

.sidebar_title {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}