.sidebarOption {
    display: flex;
    align-items: center;
    color: grey;
    max-width: 270px;
    min-height: auto;
    cursor: pointer;
    transition: 200ms color ease-in;
    word-break: break-all;
}

.sidebarHeader {
    display: flex;
    align-items: center;
    color: grey;
    max-width: 270px;
    max-height: 50px;
    cursor: pointer;
    transition: 200ms color ease-in;
    word-break: break-all; 
}

.sidebarOption > p {
    font-size: 14px;
}
 
.sidebarOption:hover {
    color: white;
}

.sidebarOption_icon {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebarOption > img {
    margin-left: 10px;
    max-width: 25px;
    max-height: 25px;
}
 