.songRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.songRow:hover {
    cursor: pointer;
    background: #000271;
    opacity: 0.8;
}

.songRow_info {
    margin-left: 20px;
}

.songRow_info > h1 {
    font-size: 16px;
}

.songRow_info > p {
    font-size: 14px;
    margin-top: 3px;
    color: lightgray;
}

.songRow_album {
    height: 3em;
    width: 3em;
    margin-right: 30px;
    color: rgb(172, 246, 246);
}

.songRow_download {
    height: 3em;
    width: 3em;
    margin-left: 10px;
    margin-right: 45px;
    color: rgb(172, 246, 246);
}

.songRow_search {
    max-height: 80px;
}