@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a,body{
 font-family: "Raleway";
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.App-header {
  width: 100%;
  height: 71px;
  font-size: large;
  color: #13992a;
  background-color: aquamarine;
}

.App-footer {
  width: 100%;
  height: 71px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.navbar{ background:rgb(3, 59, 133);}

.nav-link , .navbar-brand{ color: #13992a; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #006cf9; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

.navbar-brand{color: #13992a; cursor: pointer;}

.navbar-collapse{
 justify-content: flex-end;
}
div, button {
  margin: 10px;
}
